/** @format */

@media (max-width: 786px) {
  .login-page .container .logo-container img {
    max-width: 150px;
  }
  .login-page .container .detail-tab {
    padding: 20px;
  }
  .login-page .container .detail-tab .title {
    font-size: 22px;
  }
  .login-page .container .detail-tab .desc {
    font-size: 16px;
  }

  .login-page .container .form-container {
    padding: 10px;
  }
  .login-page .container .form-container .submit-btn {
    height: auto;
    padding: 10px;
  }
  .layout .sidebar {
    display: none;
  }
  .navbar .right-div button {
    font-size: 12px;
    padding: 5px;
    font-weight: 600;
  }
  .navbar .left-div {
    gap: 10px;
  }
  .navbar .left-div .title {
    font-size: 14px;
  }
  .navbar .left-div .desc {
    font-size: 12px;
  }
}
