/** @format */
/* Login Page */
.login-page {
  background: conic-gradient(
    from -89.75deg at 50% 50%,
    #1eadea -71.21deg,
    #7ef6ff 78.18deg,
    #77d2ed 144.78deg,
    #5bbce2 218.59deg,
    #1eadea 288.79deg,
    #7ef6ff 438.18deg
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.login-page .container {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
}
.login-page .container .logo-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.login-page .container .logo-container img {
  max-width: 200px;
}

.login-page .container .detail-tab {
  border-bottom: 1px solid #ddd;
  padding: 2.5rem;
}
.login-page .container .detail-tab .title {
  font-weight: bold;
  font-size: 1.8rem;
}
.login-page .container .detail-tab .desc {
  color: #77878f;
}

.login-page .container .form-container {
  padding: 1.5rem 2.5rem;
}

/* Navbar */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgb(201, 209, 232);
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px;
}

.navbar .right-div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar .right-div button {
  border: 1px solid rgb(52 183 193);
  padding: 10px 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgb(52 183 193);
}

.layout{
    display: flex;
}

.section-tab-container{
    display: flex;
    flex-direction: column;
}

.section-tab{
    display: flex;
    flex-wrap: wrap;
}